%body
  .wrapper
    .sidebar
      .header
        .header__name
          名前
        .header__lists
          .header__list
            .header__listnew
              = fa_icon "pencil-square-o"
          .header__list
            .header__listnew
              = fa_icon "cog"
      .groups
        .group
          .group__name
            aaa
          .group__message
            bbb
        .group
          .group__name
            ccc
          .group__message
            ddd
        .group
          .group__name
            eee
          .group__message
            fff
    .chat
      .header
        .leftheader
          .leftheader__title
            タイトル
          .leftheader__members
            メンバーズ
            .member
        .rightheader
          .rightheader__button
            Edit
      .mainmessages
        .messages
          .uppermessages
            .uppermessages__username
              あああ
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              ううう
        .messages
          .uppermessages
            .uppermessages__username
              えええ
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              かかか
        .messages
          .uppermessages
            .uppermessages__username
              ききき
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              けけけ
      .form
        .form__messasge
          %input.form__message{name: 'text',placeholder: 'type a message'}
        .form__contents
          .form__image
            %label
              = fa_icon "picture-o"
              %input#fapicture-o{style: "display:none;", :type: "file"}/
        .form__sendbutton
          Send
