%body
  .leftcontents
    .leftcontents__header
      .leftcontents__headername
        名前
    .leftcontents__namesub
      レフトコンテンツ名前サブ
    .leftcontents__message
      レフトコンテンツメッセージ
    .leftcontents__messagesub
      レフトコンテンツメッセージサブ
    .leftcontents__group
      レフトコンテンツグループ
    .leftcontents__groupsub
      レフトコンテンツグループサブ
  .chat
    .header
      .leftheader
        .leftheader__title
          レフトヘッダータイトル
        .leftheader__menbers
          レフトヘッダーメンバーズ
        .rightheader
          Edit
    .rightcontents__messages
      .rightcontents__name
        ライトコンテンツ名前
      .rightcontents__namesub
        ライトコンテンツ名前サブ
      .rightcontents__main
        ライトコンテンツメイン
      .rightcontents__mainsub
        ライトコンテンツメインサブ
      .rightcontents__under
        ライトコンテンツアンダー
      .rightcontents__undersub
        ライトコンテンツアンダーサブ
    .rightcontents__bottom
      .rightcontents__bottomwrite
        ライトコンテンツボトム
