%body.clearfix
  .leftcontents
    .leftcontents__header
      レフトコンテンツヘッダー
    .leftcontents__name
      レフトコンテンツ名前
    .leftcontents__namesub
      レフトコンテンツ名前サブ
    .leftcontents__message
      レフトコンテンツメッセージ
    .leftcontents__messagesub
      レフトコンテンツメッセージサブ
    .leftcontents__group
      レフトコンテンツグループ
    .leftcontents__groupsub
      レフトコンテンツグループサブ
  .rightcontents
    .rightcontents__header
      ライトコンテンツヘッダー
    .rightcontents__headersub
      ライトコンテンツヘッダーサブ
    .rightcontents__name
      ライトコンテンツ名前
    .rightcontents__namesub
      ライトコンテンツ名前サブ
    .rightcontents__main
      ライトコンテンツメイン
    .rightcontents__mainsub
      ライトコンテンツメインサブ
    .rightcontents__under
      ライトコンテンツアンダー
    .rightcontents__undersub
      ライトコンテンツアンダーサブ
    .rightcontents__bottom
      ライトコンテンツボトム
