%body
  .wrapper
    .sidebar
      .header
        .headername
          名前
      .groups
        .group
          .groupname
            aaa
          .groupmessage
            bbb
        .group
          .groupname
            ccc
          .groupmessage
            ddd
        .group
          .groupname
            eee
          .groupmessage
            fff
    .chat
      .header
        .leftheader
          .leftheader__title
            タイトル
          .leftheader__menbers
            メンバーズ
            .member
        .rightheader
          .rightheader__button
            Edit
      .mainmessages
        .messages
          .uppermessages
            .uppermessages__username
              あああ
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              ううう
        .messages
          .uppermessages
            .uppermessages__username
              えええ
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              かかか
        .messages
          .uppermessages
            .uppermessages__username
              ききき
            .uppermessages__date
              2018//
          .lowremessages
            .lowermessages__content
              けけけ
      .form
        .form__messasges
          こここ
          .form__contents
            .form__image
