// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  .leftcontents {
    background-color: #2f3e51;
    width: 300px;
    height: 100%;
    color: white;
    box-sizing: border-box ;
    .leftcontents__header {
      background-color: #253141;
      height: 100px;
      padding: 35px 0px 20px 20px;
      .leftcontents__headername{
        font-size: 16px;
        width: 30.11px;
        color: #FFFFFF;
        display: inline-block;
        font-weight: bold;
      }
    }
    .leftcontents__name {
      font-size: 15px;
      height: 15px;
      color: #FFFFFF;
      padding: 20px 20px 0px 20px;
    }
    .leftcontents__namesub {
      font-size: 11px;
      height: 11px;
      color: #FFFFFF;
      padding: 5px 20px 0px 20px;
    }
    .leftcontents__message {
      font-size: 15px;
      height: 15px;
      color: #FFFFFF;
      padding: 40px 20px 0px 20px;
    }
    .leftcontents__messagesub {
      font-size: 11px;
      height: 11px;
      color: #FFFFFF;
      padding: 5px 20px 0px 20px;
    }
    .leftcontents__group {
      font-size: 15px;
      height: 15px;
      color: #FFFFFF;
      padding: 40px 20px 0px 20px;
    }
    .leftcontents__groupsub {
      font-size: 11px;
      height: 20px;
      color: #FFFFFF;
      padding: 5px 20px 10px 20px;
    }
  }
  .chat {
    height: 100%;
    width: calc(100% - 300px);
    float: right;
    .header{
      height: 100px;
      padding: 0 40px;
      .leftheader{
        margin: 0;
        padding: 0;
        display: block;
        .leftheader__title{
          font-size: 20px;
          color: #333333;
          margin-top: 35px;
        }
        .leftheader__members{
          font-size: 12px;
          display: flex;
          color: #999999;
          margin-top: 15px;
        }
        .rightheader{
          font-size: 12px;
          height: 40px;
          width: 60px;
          color: #999999;
          padding: 0px 20px;
          margin-top: 28px;
          line-height: 40px;
          border: solid #38AEF0;
          float: right;
        }
      }
    }
    .rightcontents__messages{
      padding: 0px 40px 310px 40px;
      border: solid #eeeeee;
      .rightcontents__name{
        height: 15px;
        font-size: 15px;
        color: black;
        padding-top: 46px;
      }
      .rightcontents__namesub{
        height: 5px;
        font-size: 10px;
        color: black;
        padding-top: 10px;
      }
      .rightcontents__main{
        height: 10px;
        font-size: 16px;
        color: #434A54;
        padding-top: 40px;
      }
      .rightcontents__mainsub{
        height: 5px;
        font-size: 10px;
        padding-top: 10px;
      }
      .rightcontents__under{
        height: 12px;
        font-size: 12px;
        color: #999999;
        padding-top: 40px;
      }
      .rightcontents__undersub{
        height: 10px;
        font-size: 10px;
        padding-top: 10px;
      }
    }
    .rightcontents__bottom{
      height: 50px;
      width: 100%;
      padding: 20px 40px 20px 40px;
    }
      .rightcontents__bottomwrite{
        font-size: 16px;
        color: #434A54;
        padding-left: 10px;
    }
  }
}
